* {
  margin: 0; /* Removes white space at top of webpage */
}

.blur-wrapper {
  filter: blur(0px);
}

.header {
  position: relative;
  left: 0px;
  top: 0vw;
  margin: 0px;
  display: block;
  width: 100%;
  height: 7vw;
  background-color: rgb(167, 132, 69);
  text-align: center;
  font-size: 2vw;
  border-bottom: 1px solid black;
}

#header-logo{
  position: absolute;
  left: 0vw;
  top: 0vw;
  width:7vw;
}

.heading {
  position: relative;
  top: 1vw;
}

.username-display {
  position: absolute;
  top: 2vw;
  right: 15vw;
  font-size: 3vw;
  color: white;
}

.flexContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height:100%
}

.profileButton {
  position: absolute;
  top: 1vw;
  right: 1vw;
  margin: 0px;
  display: inline-block;
  width: 5%;
  height: 5vw;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2vw;
  border-radius: 2.5vw;
  border: none;
}

.profileButton:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.profileImg {
  width: 35px;
  height: 35px;  
}

.filter {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px;
  display: inline-block;
  width: 20%;
  height: 47vw;
  background-color: rgb(195, 175, 95);
}

.feed {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px;
  display:flex;
  width: 60%;
  height: 47vw;
  background-color: rgb(223, 194, 79);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: scroll;
}

.add-travel-button {
  position: absolute;
  bottom: 3vh;
  right: 3vw;
  display: block;
  width: 5vw;
  height: 5vw;
  border-radius: 2.5vw;
  border: none;
  background-color: hsl(198, 100%, 59%);
}

.add-travel-button:hover {
  cursor: pointer;
  background-color: hsl(198, 93%, 45%);
}

.add-travel-plus-sign-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: white;
  border-radius: 0.5vw;
}

#vertical-plus-sign-component {
  width: 1vw;
  height: 4vw;
}

#horizontal-plus-sign-component {
  width: 4vw;
  height: 1vw;
}

.add-travel-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 60%;
  height: 80%;
  background-color: rgb(240, 204, 160);
}

.ads {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0;
  display: inline-block;
  width: 20%;
  height: 47vw;
  background-color: rgb(195, 175, 95);
}

.logInWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  width: 25vw;
  height: 40vh;
  background-color: rgb(240, 204, 160);
  z-index: 1;
  opacity: 100%;
  border-radius: 3vw;
  backdrop-filter: blur(10px);
}

.loginHeading {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 1.5vh;
}

.loginInput {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  width: 20vw;
  height: 4vh;
  border-radius: 1vw;
  border: 0.2vw solid rgb(0, 0, 0);
}

#usernameInput {
  top: 10vh;
}

#passwordInput {
  top: 16vh;
}

.formButton {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  width: 20vw;
  height: 4vh;
  border-radius: 1vw;
  background-color:  rgb(255, 255, 255);
}

.formButton:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#loginButton {
  top: 22vh;
}

.notALine {
  margin-top: 26vh;
  background-color: bisque;
}

.signupWindow {
  position: fixed;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  display: block;
  width: 25vw;
  height: 45vh;
  background-color: rgb(240, 204, 160);
  z-index: 1;
  opacity: 100%;
  border-radius: 3vw;
  backdrop-filter: blur(10px);  
}

.signupHeading {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 1.5vh;
}

.signupInput {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  width: 20vw;
  height: 4vh;
  border-radius: 1vw;
  border: 0.2vw solid rgb(0, 0, 0);
}

#signupUsernameInput {
  top: 10vh;
}

#signupPasswordInput {
  top: 16vh;
}

#confirmPasswordInput {
  top: 22vh;
}

#signupButton {
  top: 28vh;
}

.dontHaveAnAccount {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 29vh;
  display: block;
  width: 90%;
  text-align: center;
}

.alreadyHaveAnAccount {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 33.5vh;
  display: block;
  width: 90%;
  text-align: center;
}

.link-form-button {
  position: absolute;
  top: 38vh;
  left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  height: 4vh;
  border-radius: 1vw;
  background-color:  rgb(255, 255, 255);
}

.link-form-button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#go-to-signup {
  top: 32.5vh;
}

#go-to-login {
  top: 38vh;
}

.link-form-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgb(0, 0, 0);
}

.line {
  margin-top: 31.5vh;
}