* {
  margin: 0; /* Removes white space at top of webpage */
}

.blur-wrapper {
  filter: blur(0px);
}

.header {
  position: relative;
  left: 0px;
  top: 0vw;
  margin: 0px;
  display: block;
  width: 100%;
  height: 7vw;
  background-color: rgb(167, 132, 69);
  text-align: center;
  font-size: 2vw;
  border-bottom: 1px solid black;
}

#header-logo{
  position: absolute;
  left: 0vw;
  top: 0vw;
  width:7vw;
}

.heading {
  position: relative;
  top: 1vw;
}

.username-display {
  position: absolute;
  top: 2vw;
  right: 15vw;
  font-size: 3vw;
  color: white;
}

.flexContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height:100%
}

.profileButton {
  position: absolute;
  top: 1vw;
  right: 1vw;
  margin: 0px;
  display: inline-block;
  width: 5%;
  height: 5vw;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2vw;
  border-radius: 2.5vw;
  border: none;
}

.profileButton:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.profileImg {
  width: 35px;
  height: 35px;  
}

.filter {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px;
  display: inline-block;
  width: 20%;
  height: 47vw;
  background-color: rgb(195, 175, 95);
}

.feed {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px;
  display:flex;
  width: 60%;
  height: 47vw;
  background-color: rgb(223, 194, 79);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: scroll;
}

.ads {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0;
  display: inline-block;
  width: 20%;
  height: 47vw;
  background-color: rgb(195, 175, 95);
}

.logInWindow {
  position: fixed;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  display: block;
  width: 25vw;
  height: 25vw;
  background-color: rgb(240, 204, 160);
  z-index: 1;
  opacity: 100%;
  border-radius: 3vw;
  backdrop-filter: blur(10px);  
}

.loginHeading {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 1.5vw;
}

.loginInput {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  width: 20vw;
  height: 3vw;
  border-radius: 1vw;
  border: 0.2vw solid rgb(0, 0, 0);
}

#usernameInput {
  top: 20%;
}

#passwordInput {
  top: 35%;
}

.formButton {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  width: 20vw;
  height: 3vw;
  border-radius: 1vw;
  background-color:  rgb(255, 255, 255);
}

.formButton:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#loginButton {
  top: 50%;
}

.notALine {
  margin-top: 65%;
  background-color: bisque;
}
.dontHaveAnAccount {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 76%;
}

#signupButton {
  top: 87%;
}